.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  width: 150px;
  height: 40px;
}

.getadvisors {
  width: 320px;
  height: 50px;
}

.advisors {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.advisor {
 width: 700px;
 height: 200pxpx;
 border: 1px solid black;
 margin: 10px;
 padding: 10px;

}
.policies {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 50px;

}
.policy {
  align-items: center;
  width: 700px;
  height: 200pxpx;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
 }
 

.newpolicy {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 50px;
}

.delete{
  width:10px;
}

.formheader{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;

}
.newpolicybutton {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 50px;
}

